
<h1> ()=>alert({{multi}}) </h1>
<ngx-charts-line-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  schemeType="linear"
  xAxis="true"
  yAxis="false"
  timeLine="true"
  showGridLines="true"
  (select)="onSelect($event)">
</ngx-charts-line-chart>
<ngx-charts-polar-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="multi"
  schemeType="ordinal"
  xAxis="true"
  yAxis="false"
  timeLine="true"
  showGridLines="true"
  (select)="onSelect($event)">
</ngx-charts-polar-chart>
<ngx-charts-area-chart
[view]="view"
[scheme]="colorScheme"
[results]="multi"
 schemeType="ordinal"
 xAxis="true"
 yAxis="false"
 [showXAxisLabel]="showXAxisLabel"
 [showYAxisLabel]="showYAxisLabel"
 [xAxisLabel]="xAxisLabel"
 [yAxisLabel]="yAxisLabel"
 timeLine="true"
 showGridLines="true"
(select)="onSelect($event)">
</ngx-charts-area-chart>
<ngx-charts-area-chart-stacked
[view]="view"
[scheme]="colorScheme"
[results]="multi"
 schemeType="ordinal"
 xAxis="true"
 yAxis="false"
 [showXAxisLabel]="showXAxisLabel"
 [showYAxisLabel]="showYAxisLabel"
 [xAxisLabel]="xAxisLabel"
 [yAxisLabel]="yAxisLabel"
 timeLine="true"
 showGridLines="true"
(select)="onSelect($event)">
</ngx-charts-area-chart-stacked>
<ngx-charts-area-chart-normalized
[view]="view"
[scheme]="colorScheme"
[results]="multi"
 schemeType="ordinal"
 xAxis="true"
 yAxis="false"
 [showXAxisLabel]="showXAxisLabel"
 [showYAxisLabel]="showYAxisLabel"
 [xAxisLabel]="xAxisLabel"
 [yAxisLabel]="yAxisLabel"
 timeLine="true"
 showGridLines="true"
(select)="onSelect($event)">
</ngx-charts-area-chart-normalized>