<ngx-charts-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [legend]="showLegend"
  [labels]="true"
  (select)="onSelect($event)">
</ngx-charts-pie-chart>
<ngx-charts-advanced-pie-chart
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  label="Total"
  (select)="onSelect($event)">
</ngx-charts-advanced-pie-chart>
<ngx-charts-pie-grid
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  label="Total"
  (select)="onSelect($event)">
</ngx-charts-pie-grid>